# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\General\Github\15-112-Term-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
